@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(/images/login-signup-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

html {
    scroll-behavior: smooth;
}

.signup-container {
    margin: 20px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 20px;
    margin-top: 9.5rem;
    margin-left: 5rem;
    border-radius: 4px;
}

.signup-container h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    text-align: center;
    color: rgb(33, 109, 215);
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    color: rgb(33, 109, 215);
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    height: 18px;
    padding: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

#form .btn {
    margin-top: 3.5rem;
}

#form .btn button[type="submit"] {
    width: 50%;
    display: inline-block;
    background-color: rgb(39, 95, 218);
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    margin: -1rem 7.8rem;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

#form button[type="submit"]:hover {
    background-color: rgb(61, 116, 234);
    transition: background-color 0.3s ease;
    box-shadow: 1px 3px 8px 1px darkgray;
    cursor: pointer;
}

#username-error,
#email-error,
#password-error,
#confirm-password-error {
    color: red;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    visibility: hidden;
    padding: 0px;
    margin: 0;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 50px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 50px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

#form #account {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 0;
}

#form #account a {
    color: blue;
    text-decoration: none;
}

#form #account a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
}