body {
    font-family: Arial, sans-serif;
    background-image: url(/images/check-in-banner.jpg);
    background-repeat: no-repeat;
    background-size: 109%;
}

.booking-container {
    margin: 20px auto;
    width: 400px;
    height: 470px;
    background-color: #fff;
    padding: 20px;
    margin-top: 6.3rem;
    margin-left: 2rem;
    border-radius: 4px;
}

.booking-container:hover {
    box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.1);
}

.booking-container h1 {
    margin-top: 0;
    text-align: center;
    color: rgb(33, 109, 215);
}

form {
    display: grid;
    gap: 10px;
}

.form-row {
    grid-template-columns: 2fr 1fr;
    margin-top: 1rem;
}

.form-group {
    margin-bottom: 1rem;
    color: rgb(33, 109, 215);
}

.form-group p {
    padding-left: 3rem;
}

label {
    padding-left: 3rem;
    font-weight: bold;
}

input[type="date"],
input[type="text"],
input[type="time"],
select {
    width: 70%;
    padding: 12px;
    margin-top: .3rem;
    margin-left: 3rem;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

button {
    width: 50%;
    display: inline-block;
    background-color: rgb(39, 95, 218);
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    margin: -3rem auto .5rem auto;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(61, 116, 234);
    transition: background-color 0.3s ease;
    box-shadow: 1px 3px 8px 1px darkgray;
    cursor: pointer;
}