body {
    font-family: Arial, sans-serif;
    background-color: rgb(233, 240, 255);
    background-image: url(/images/Book-Flight-banner.jpg);
    background-repeat: no-repeat;
    padding: 20px;
}

.flight-booking {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.booking-container {
    margin: 5rem auto 0 2rem;
    width: 450px;
    height: 460px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.booking-container h1 {
    margin-top: 0;
    text-align: center;
    color: rgb(33, 109, 215);
}

form {
    display: grid;
    gap: 10px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: .8rem;
}

.form-group {
    color: rgb(33, 109, 215);
}

label {
    font-weight: bold;
}

input[type="date"],
input[type="text"],
input[type="time"],
input[type="email"],
input[type="number"] {
    width: 90%;
    height: 18px;
    padding: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
}

select {
    height: 41.3px;
    width: 220px;
    padding: 12px;
    border: 1px solid #dbdbdb;
    color: #6c6c6c;
    border-radius: 5px;
    outline: none;
    margin-top: 0;
}

button[type="submit"] {
    width: 50%;
    display: inline-block;
    background-color: rgb(39, 95, 218);
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    margin: .3rem 7rem;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: rgb(61, 116, 234);
    transition: background-color 0.3s ease;
    box-shadow: 1px 3px 8px 1px darkgray;
    cursor: pointer;
}

/*  flight availability starts  */
.flight-result {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #fff;
    width: 750px;
    height: 90px;
    border-radius: 5px;
    padding: 15px;
    margin: 5rem 11rem 0 0;
}

.flight-info input[type=submit] {
    text-align: center;
    width: 50px;
    display: inline-block;
    background-color: rgb(39, 95, 218);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 52px 10px 15px;
    margin: 0;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

/*  flight availability ends  */

/*  snackbar starts  */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 50px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 50px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

/*  snackbar ends  */