body {
    font-family: Arial, sans-serif;
    background-image: url(/images/Dashboard-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

nav ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    margin-top: -.5rem;
    margin-left: -1rem;
    padding-top: 20px;
}

nav ul li a {
    font-weight: 700;
    font-size: 14px;
    cursor: none;
    color: rgb(228, 228, 228);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(222, 255, 255);
    cursor: pointer;
}

#profile-container {
    color: #fff;
    text-align: center;
}

#sidebar-info {
    background-color: rgb(198, 216, 234);
    width: 320px;
    height: 570px;
    border-radius: 10px;
    margin: .5rem 0rem 0rem 9.2rem;
}

.profile-images .profile {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 50%;
    margin-top: -3.6rem;
    margin-left: -.5rem;
    cursor: pointer;
}

.profile-images .background {
    width: 320px;
    height: 150px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

#sidebar-info p:nth-last-of-type(1) {
    color: black;
    font-weight: 600;
    margin-top: -.8rem;
}

#sidebar-info p:nth-last-of-type(2) {
    font-weight: 600;
    margin-top: 1rem;
    color: black;
}

#more-details {
    background-color: rgb(198, 216, 234);
    width: 900px;
    height: 568px;
    border-radius: 10px;
    margin: -35.5rem 9.2rem 0rem auto;
    overflow: hidden;
}