@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(/images/sitemap-banner.webp);
    background-color: rgb(242, 240, 240);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*  logo starts  */
.Logo {
    display: flex;
    gap: .8rem;
    padding: .6rem 2rem;
    margin: 1.5rem 15rem;
}

.Logo .Logo-Name {
    margin-top: -1rem;
    font-weight: 800;
    color: rgb(49, 190, 222);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

/*  logo starts  */

/*  header starts  */
.header ul {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
    margin-left: 16rem;
}

.header ul li {
    list-style: none;
}

.header ul li a {
    color: rgb(229, 229, 229);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 13.5px;
    text-decoration: none;
}

.header:hover p {
    cursor: pointer;
}

.condition {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-top: 4rem;
    margin-left: 20rem;
    color: white;
}

/*  header ends  */

/*  main starts  */
main .nav-links ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 4rem 0rem 0rem 10rem;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.carriage {
    background-color: #fff;
    width: 1200px;
    height: 100%;
    margin-top: 3rem;
    margin-left: 10rem;
}

.carriage h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 2rem;
}

section h2 {
    color: #003366;
}

section p {
    line-height: 1.5;
}

.baggage-item {
    margin-bottom: 20px;
}

.baggage-item h3 {
    padding-top: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #003399;
}

.baggage-item p {
    font-family: 'Roboto', sans-serif;
}

.baggage-item h3,
#info {
    font-family: 'Roboto',sans-serif;
    text-align: center;
}

.policy-container {
    padding: 20px;
    display: flex;
    gap: 40rem;
    margin-top: -3.5rem;
    margin-left: 25rem;
}

.policy-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: -22rem;
}

.policy-text {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-left: -22rem
}

.policy:nth-last-of-type(1) {
    margin-left: -13rem;
}

/*  main ends  */

/*  footer starts  */
footer {
    background-color: rgb(241, 241, 241);
    height: 600px;
    margin-top: 3rem;
}

footer .Footer-Container {
    display: flex;
    gap: 12rem;
    padding-top: 2rem;
    padding-left: 10rem;
}

.Footer-Container article h5 {
    font-size: 13.5px;
    font-family: 'Roboto', sans-serif;
}

article p,
a {
    font-size: 13.5px;
    margin-top: .5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(110, 110, 110);
    text-decoration: none;
}

article p a:hover {
    color: rgb(0, 51, 255);
    text-decoration: underline;
    cursor: pointer;
}

.Footer-Container:nth-last-of-type(1) {
    margin-top: -1rem;
}


.Footer-Container:nth-last-child(2),
.Footer-Container:nth-last-child(3) {
    margin-top: -1rem;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.Footer-Container div h5 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: .5rem;
}

.Footer-Container div a img {
    margin-top: -.5rem;
    padding-bottom: .8rem;
    width: 35px;
    gap: 1rem;
    margin-left: 2rem;
}

.Trademark {
    text-align: center;
    padding-top: .1rem;
    padding-bottom: .5rem;
    font-family: 'Roboto', sans-serif;
}

/*  footer ends  */