body {
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

#msg {
    font-family: 'Roboto', sans-serif;
}

#msg img{
    width: 300px;
    margin-left: 6rem;
}

#msg span {
    color: blue;
}

#msg button{
    padding: 15px 30px;
    border: none;
    outline: none;
    background-color: blue;
    border-radius:5px;
    margin-left: 12rem;
}

#msg button a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}