body {
    font-family: Arial, sans-serif;
    background-color: rgb(233, 240, 255);
    padding: 20px;
}

.hotels-container {
    margin: 20px auto;
}

.hotels-container h1 {
    margin-top: 0;
    text-align: center;
    color: rgb(33, 109, 215);
}

.hotels-container .select-hotel {
    display: flex;
    margin-bottom: 1rem;
    gap: 2rem;
}

.hotels-container .hotel-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 3.5rem;
}

.hotel-card {
    width: 90%;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.hotel-card:hover {
    box-shadow: 2px 10px 10px 3px rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
    transition: .3s;
    cursor: pointer;
}

.hotel-card img {
    width: 180px;
    height: 130px;
    border-radius: 4px;
    margin-right: 20px;
}

.hotel-details {
    flex: 1;
    margin: 0;
    padding: 0;
}

.hotel-details h3, p{
    padding: .3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.hotel-details a {
    width: 30%;
    display: inline-block;
    background-color: rgb(39, 95, 218);
    text-align: center;
    color: #fff;
    padding: 8px 16px;
    margin-top: .5rem;
    text-decoration: none;
    border-radius: 4px;
}

.hotel-details a:hover {
    background-color: rgb(61, 116, 234);
    transition: background-color 0.3s ease;
    box-shadow: 1px 3px 8px 1px darkgray;
    cursor: pointer;
}